
.reservas-wrap {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    height: 90%;
    width: 95%;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;

    .reservas-table {
        table-layout: fixed;
    }

    .reservas-table-wrap {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;

        .reservas-table {
            border-collapse: collapse;
            width: 100%;

            .acciones {
                i {
                    cursor: pointer;
                }
            }

            .reservas-row {
                height: 100px;
            }

            td,
            th {
                // border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            th {
                font-size: .957rem;
                background-color: #F3F2F7;
                border-block: 2px solid #ebe9f1;
                border-block-width: 2px;
                border-block-style: solid;
                border-block-color: rgb(235, 233, 241);
                color: #6E6B7B;
                text-transform: uppercase;
                letter-spacing: .5px;
                font-weight: bold;

                i {
                    cursor: pointer;
                }

            }

            td {
                font-size: .857rem;
                color: #6E6B7B;
                border-bottom: 3px #F7F7F7 solid;
                max-height: 100px;

                img {
                    max-height: 100px;
                    width: 100%;
                }
            }

            .fa-solid {
                cursor: pointer;
            }

            .activo {
                border-radius: 9999px;
                padding: 7px 20px 7px 20px;
                color: #F7F7F7;
                background-color: rgb(65 179 65);
            }

            .inactivo {
                border-radius: 9999px;
                padding: 7px 20px 7px 20px;
                color: #F7F7F7;
                background-color: rgb(233 78 78);
            }

            .cancelar-reserva{
                background-color: #eb2a2a;
                border-radius: 999px;
                padding: 2px 13px 2px 13px;
                color: #F7F7F7;
                font-size: .857rem;
                border: none;
            }

            .cancelar-reserva:hover{
                background-color: #6E6B7B;
            }

        }

    }

    .reservas-pagination-wrap{
        display: flex;
        justify-content: center;
        margin-top: auto;
        width: 100%;
        

        ul {
            display: flex;
            padding: 0;
            margin: 0;
            align-items: center;
        }
        
        ul li {display: inline;}
        
        ul li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border-radius: 5px;
        }
        
        ul li a.active {
            background-color: $principal;
            color: white;
            border-radius: 5px;
        }
        
        ul li a:hover:not(.active) {background-color: #ddd;}
    }

}