.actividades-wrap{
    height: 90%;
    width: 90%;
    background-color:#FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}


.nueva-actividad-button{
border-radius: 999px;
padding: 0.7rem;
background-color: $principal;
border: none;
color: #FFFFFF;
cursor: pointer;
}

.nueva-actividad-button:hover {
    background-color: black;
  }