@import "dropdown";

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $principal;
    padding: 0 25px;
    transition: 0.3s;

    .logo a {
        display: block;
    }

    .logo a img {
        display: block;
        width: 40%;
    }

    .navegacion {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            z-index: 1;
            transition: 0.6s;

            li {
                list-style-type: none;

                a {
                    color: azure;
                    text-decoration: none;
                    display: block;
                    padding: 40px 25px;
                    font-size: 18px;
                    line-height: 1;
                    transition: 0.3s;
                }
            }

            li a:hover {
                box-shadow: 0 -6px 0px #fff inset,
                    500px 0 0 rgba(0, 0, 0, 0.03) inset;
                // padding: 30px 30px 35px 30px;
            }
            
            .for-mobile{
                display: none;
            }
        }

        .burger {
            position: relative;
            width: 35px;
            display: none;
            height: 5px;
            background: #fff;
            z-index: 2;
            cursor: pointer;
            border-radius: 10px;
            transition: 0.1s;

            &:before,
            &:after {
                position: absolute;
                height: 4px;
                right: 0;
                content: "";
                background: #fff;
                border-radius: 10px;
                transition: 0.2s;
            }

            &:before {
                top: -10px;
                width: 20px;
            }

            &:after {
                top: 10px;
                width: 25px;
            }
        }

        .toggle-menu {
            display: none;
            position: absolute;
            width: 30px;
            height: 100%;
            z-index: 3;
            cursor: pointer;
            opacity: 0;
        }

        input:checked~.burger {
            background: transparent;
        }

        input:checked~.burger::before {
            top: 0;
            transform: rotate(-45deg);
            width: 30px;
        }

        input:checked~.burger::after {
            top: 0;
            transform: rotate(45deg);
            width: 30px;
        }

        input:checked~.menu {
            right: 0;
        }
    }
}


// Breakpoints

// Extra extra large
@media (min-width: $xxl-min) {}

// Extra large
@media (min-width: $xl-min) and (max-width: $xl-max) {}

// Large
@media (min-width: $lg-min) and (max-width: $lg-max) {}

// Medium
@media (min-width: $md-min) and (max-width: $md-max) {
    
    //Cuando es aparece el menu desplegable escondo el icono de usuario y muestro los elementos de la lista
    .for-mobile{
        display: block!important;
    }
    .dropdown{
        display: none;
    }

    .burger,
    .toggle-menu {
        display: block !important;
    }

    .header {
        padding: 10px 20px;
    }

    .menu {
        justify-content: start !important;
        flex-direction: column !important;
        align-items: center !important;
        position: fixed;
        top: 0;
        right: -300px;
        background: $principal;
        width: 300px;
        height: 100%;
        padding-top: 65px;

        li {
            width: 100%;
        }

        li a {
            padding: 30px;
            font-size: 24px;
            box-shadow: 0 1px 0 rgb(100, 126, 150);
        }
    }
}

// Small
@media (min-width: $sm-min) and (max-width: $sm-max) {
    
    //Cuando es aparece el menu desplegable escondo el icono de usuario y muestro los elementos de la lista
    .for-mobile{
        display: block!important;
    }
    .dropdown{
        display: none;
    }

    .burger,
    .toggle-menu {
        display: block !important;
    }

    .header {
        padding: 10px 20px;
    }

    .menu {
        justify-content: start !important;
        flex-direction: column !important;
        align-items: center !important;
        position: fixed;
        top: 0;
        right: -300px;
        background: $principal;
        width: 300px;
        height: 100%;
        padding-top: 65px;

        li {
            width: 100%;
        }

        li a {
            padding: 30px;
            font-size: 24px;
            box-shadow: 0 1px 0 rgb(100, 126, 150);
        }
    }
}



// Extra small
@media (max-width: $xs-max) {

     //Cuando es aparece el menu desplegable escondo el icono de usuario y muestro los elementos de la lista
    .for-mobile{
        display: block!important;
    }
    .dropdown{
        display: none;
    }

    .burger,
    .toggle-menu {
        display: block !important;
    }

    .header {
        padding: 10px 20px;
    }

    .menu {
        justify-content: start !important;
        flex-direction: column !important;
        align-items: center !important;
        position: fixed;
        top: 0;
        right: -300px;
        background: $principal;
        width: 300px;
        height: 100%;
        padding-top: 65px;

        li {
            width: 100%;
        }

        li a {
            padding: 30px;
            font-size: 24px;
            box-shadow: 0 1px 0 rgb(100, 126, 150);
        }
    }
}

//Medium specifically
@media (max-width: $md-max) {}