@import "variables";

.footer{
    width: 100%;
    margin-top: auto;
    background-color: $principal;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;

    &-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        a{
            text-decoration: none;
            color: black!Important;
        }
        i{
            margin-inline: 0.5rem;
        }
    }

    &-text{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}