@import "variables";

.home {
    &-evento-principal {
        position: relative;

        .tarjeta-inscripcion {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            height: 100%;
            width: 30%;
            background: rgb(0 0 0 / 45%);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            

            .home-evento-titulo, .home-evento-fecha{
                text-align: center;
                span{
                    font-size: 2.5rem;
                    color: #FFFFFF;
                }
            }
            &-button {
                border-radius: 999px;
                padding: 0.7rem;
                background-color: $principal;
                border: none;
                color: #FFFFFF;
                cursor: pointer;
                margin: 1rem;
                font-size: 1.5rem;
                text-decoration: none;
            }
        }

        img {
            height: calc(100vh - 100px);
            width: 100%;
            object-fit: cover;
        }
    }

    &-actividades-destacadas, &-eventos-destacados{
        margin-top: 5rem;
        width: 100%;

        &-text{
            display: flex;
            justify-content: center;

            span{
                font-size: 3rem;
                display: inline;
                border-bottom: 3px solid $principal;
            }
        }
        .actividad-card{

        }
    }
}

.swiper {
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 50%;
    box-shadow: 0 0 0.7rem rgb(2 20 27 / 86%);

    &-button-next,  &-button-prev{
        color: #fff;
    }
    &-slide {
        cursor: pointer;
        text-align: center;
        font-size: 18px;
        background: #fff;
        position: relative;
        height: auto;
        &-actividad-content{
            position: absolute;
            background: rgb(0 0 0 / 45%);
            width: 100%;
            height: 30%;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            transition: 0.7s;
            span{
                font-size: 2rem;
                color: #FFFFFF;
            }
            a{
                border-radius: 999px;
                padding: 0.7rem;
                background-color: $principal;
                border: none;
                color: #FFFFFF;
                cursor: pointer;
                margin: 1rem;
                font-size: 1.2rem;
                -webkit-appearance: button;
                    -moz-appearance: button;
                    appearance: button;
                
                    text-decoration: none;
            }
        }
      }
    
      &-slide:hover{
        .swiper-slide-actividad-content{
            opacity: 1;
        }
    }
      &-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }

