@import "variables";

.home{
    .home-evento-principal{
        position: relative;
        
        .tarjeta-inscripcion{
            position: absolute;
            border-radius:5px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40%;
            width: 30%;
            background: rgb(23 23 25 / 45%);

            &-button{
                border-radius: 999px;
                    padding: 0.7rem;
                    background-color: $principal;
                    border: none;
                    color: #FFFFFF;
                    cursor: pointer;
                    margin: 1rem;
                    font-size: 1.5rem;
            }
        }
        img{
            height: calc(100vh - 100px);
            width: 100%;
        }
    }
}
