@import "variables";

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    min-height: 90vh;
}
.layout-login {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
  .login {
    width: 70%;
    box-shadow: 0 0 1.1rem rgba(2, 20, 27, 0.863);
    display: flex;
    flex-direction: row;
    &-image {
      width: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-content {
      width: 60%;
      height: 100%;

      &-form {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-group {
          position: relative;
          padding: 15px 0 0;
          margin-top: 10px;
          width: 70%;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        input {
          position: relative;
          font-family: inherit;
          width: 100%;
          border: 0;
          border-bottom: 2px solid $gray;
          outline: 0;
          font-size: 1.3rem;
          padding: 7px 0;
          background: transparent;
          transition: border-color 0.2s;

          &::placeholder {
            color: transparent;
          }

          &:placeholder-shown ~ .form__label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
          }
        }

        label {
          position: absolute;
          top: 0;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          
        }

        input:focus {
          ~ .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: $primary;
            font-weight: 700;
          }
          padding-bottom: 6px;
          font-weight: 700;
          border-width: 3px;
          border-image: linear-gradient(to right, $primary, $secondary);
          border-image-slice: 1;
        }
        
        input {
          &:required,
          &:invalid {
            box-shadow: none;
          }
        }
        &-button {
          margin-top: 1rem;
        }
        &-button-sign{
          font-family: $poppins;
          border-radius: 999px;
          font-size: 1.2rem;
          padding: 7px 30px 7px 30px;
          background-color: white;
        }
        &-button-sign:hover {
          cursor: pointer;
          background-color: $bg-color;
          color: #eeeeee;
          border-color: #eeeeee;
          border-style: double;
        }
      }
    }
  }
}

.orSignUp{
  margin-top: 2rem;
  font-family: $poppins;
  font-size: 1rem;
  a{
    text-decoration: none;
    color: $bg-color;
  }
  
}
.forgotPassword{
  display: flex;
  justify-content: end;
  width: 70%;
  font-family: $poppins;
  font-size: 0.75rem;
  
  a{
    text-decoration: none;
    color: $primary;
  }
  
}
// Breakpoints
// Extra extra large
@media (min-width: $xxl-min) {
}

// Extra large
@media (min-width: $xl-min) and (max-width: $xl-max) {
}

// Large
@media (min-width: $lg-min) and (max-width: $lg-max) {
  .login-container{
    height: auto!important;
  }
}

// Medium
@media (min-width: $md-min) and (max-width: $md-max) {
  .login-container{
    height: auto!important;
  }
}

// Small
@media (min-width: $sm-min) and (max-width: $sm-max) {
  .orSignUp{
    margin-bottom: 1rem;
  }
  .login-container{
    height: auto!important;
  }
  .login {
    flex-direction: column !important;

    &-image {
      width: 100% !important;
    }
    &-content {
      width: 100% !important;
    }
    .login-content-form-button {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}

// Extra small
@media (max-width: $xs-max) {
  .orSignUp{
    margin-bottom: 1rem;
  }
  .login-container{
    height: auto!important;
  }
  .login {
    flex-direction: column !important;

    &-image {
      width: 100% !important;
    }
    &-content {
      width: 100% !important;
    }
    .login-content-form-button {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}

//Medium specifally
@media (max-width: $md-max) {
  .orSignUp{
    margin-bottom: 1rem;
  }
  .login-container{
    height: auto!important;
  }
  .login {
    flex-direction: column !important;

    &-image {
      width: 100% !important;
    }
    &-content {
      width: 100% !important;
    }

    .login-content-form-button {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}
