@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

$bg-color: rgb(36, 36, 36);
$poppins: "Poppins", sans-serif;
$card-height-large-screen: 25rem;
$card-height-mobile: 12rem;
$gray: #9b9b9b;
$primary: rgb(73, 139, 201);
$secondary: rgb(189, 213, 219);
$white: #fff;
$body-bg: #f8fafc;
$principal: rgb(73 139 201);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$xs-max: 575.9px;
// Small
$sm-min: 576px;
$sm-max: 767.9px;
// Medium
$md-min: 768px;
$md-max: 991.9px;
// Large
$lg-min: 992px;
$lg-max: 1199.9px;
// Extra large
$xl-min: 1200px;
$xl-max: 1399.9px;
// Extra extra large
$xxl-min: 1600px;
