
@import "node_modules/font-awesome/scss/font-awesome.scss";  

@import "variables";
@import "home";
@import "header";
@import "login";


* {
  font-family: $poppins;
    box-sizing: border-box;
}
html, body{
  min-height:100vh;
  width: 100%;
  margin: 0!important;
}

#root{
  min-height:100vh;
}
img,
svg {
    vertical-align: middle;
}
