@import "node_modules/font-awesome/scss/font-awesome.scss";

@import "variables";
@import "home";
@import "header/header";
@import "login";
@import "back-panel/index";
@import "user-panel/index";
@import "spinner";
@import "input-file";
@import "footer";
@import "carrusel";
@import "web/index";

* {
  font-family: $poppins;
  box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
}

body {
  // min-height:100vh;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

#root {
  min-height: 100vh;
}

img,
svg {
  vertical-align: middle;
}

.main {
  height: 100%;
}

::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

footer {}

.global-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}



// Medium
@media (min-width: $md-min) and (max-width: $md-max) {
  table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }
}

// Small
@media (min-width: $sm-min) and (max-width: $sm-max) {
  table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }
}



// Extra small
@media (max-width: $xs-max) {
  table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    
  }
}