#spinner-custom {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999999;
    background-color: rgb(0, 0, 0, 0.2);
}
#spinner-custom .spinner-border-custom {
    display: block;
    position: fixed;
    top: calc(50% - (58px / 2));
    right: calc(50% - (58px / 2));
    color: black;
}
.loader-custom {
    width: 48px;
    height: 48px;
    border: 3px solid rgb(73 139 201);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.8s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
