@import "actividades/calendario";

.preview-actividad{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;

    .actividad{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 50%; 
        margin-bottom: 5rem;
        &-nombre{
            font-size: 3rem;
            border-bottom: 3px solid rgb(73, 139, 201);
            margin-bottom: 1rem;
        }
        &-img{
            height: 80%;
            width: 70%;
            img{
                display: block;
                width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
            margin-bottom: 1rem;
        }
    }
}

.confirmar-reserva-button{
    margin-top: 2rem;
    button{
        border-radius: 999px;
                padding: 0.7rem;
                background-color: $principal;
                border: none;
                color: #FFFFFF;
                cursor: pointer;
                margin: 1rem;
                font-size: 1.2rem;
    }
}